[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
scikit-learn = "==0.20.3"
tensorflow = "*"
munkres = "*"
annoy = "*"
keras = "*"

[packages]
h5py = "*"

[requires]
python_version = "3.7"
